name: Custom Build of tModLoader Repository
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'The tModLoader Release to download and build.'
        required: true
        type: string
jobs:
  manual-run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        path: ./
    - name: Get Current Version
      run: echo "CURRENT_VERSION=$(grep -oP '(?<=\bTMOD_VERSION=)[^;]+' ./Dockerfile)" >> $GITHUB_ENV
    - name: Print Stored Version Number
      run: echo ${{ env.CURRENT_VERSION }}
    - name: Print Version to Download
      run: echo ${{ inputs.release }}
    - name: Update Dockerfile Version
      if: ${{ env.CURRENT_VERSION != inputs.release }}
      run: sed -i "s/${{ env.CURRENT_VERSION }}/${{ inputs.release }}/" ./Dockerfile

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        platforms: linux/arm64
        push: true
        tags: |
          ghcr.io/otomay/tmodloader1.4-arm64:${{ inputs.release }}
          ghcr.io/otomay/tmodloader1.4-arm64:latest

